<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 02 colunas</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <!-- layout 02 colunas-->
    <div class="titulo">
        <h1>Título do <span class="destaque italico">Site</span></h1>
    </div>
    <div class="menu">
        <h2>Menu</h2>
        <a href="#">Opção 01</a>
        <a href="#">Opção 02</a>
        <a href="#">Opção 03<span class="destaque">Spam!</span></a>
    </div>
    <div class="conteudo">
        <h2>Conteúdo</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, magni explicabo dicta, at nemo possimus fugiat amet, error consectetur quam assumenda eaque in. Asperiores cupiditate dolorem reiciendis. Maxime, veritatis at.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At quam sequi vitae quia provident. Eveniet exercitationem eligendi labore laboriosam facilis unde quia at repudiandae quod maiores ad, vel modi libero.</p>
    </div>
    <div class="rodape">
        <h3>Rodapé</h3>
    </div>
</body>
</html>