div {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(227, 241, 236);
    text-align: center;
}

.menu {
    float: left;
    width: 20%;
    margin-right: 5px;
    padding: 5px;
}

.menu:hover {
    background-color: rgb(38, 160, 58);
    transition: 1s;
}

.menu a {

    /*Quebra de linha - tipo um "br" */

    display: block;
    background-color: rgb(255, 255, 255);
    border-bottom:  1px;
}

.conteudo {
    float: right;
    width: 70%;
    background-color: rgb(139, 194, 226);

    /*1) Define cada uma das margens internas */
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 48px;
    padding-bottom: 50px;

    /* 2) Define um para todos*/
    padding: 10px; /*top, right, bottom, left*/

    /* 3) Define cada margem numa linha */
    padding: 40px 30px 50px 20px;
}

.conteudo:hover {
    background-color: aliceblue;
    transition: 1s;
}

.destaque {
    background-color: yellow;
}

.destaque:hover {
    display: none; /* Esconder meu texto*/
}

.rodape {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 400px;
    text-align: center;
    background-color: rgb(53, 236, 236);
}