.container {
    display: grid;
    /* define as regiões do site (areas de conteudo)  */
    grid-template-areas:
        "tituloArea tituloArea"
        "menuArea conteudoArea";
    grid-auto-columns: 20% 1fr;
    gap: 20px;
    /* espaçamento entre as divs */
}

div.titulo {
    grid-area: tituloArea;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

div.menu {
    grid-area: menuArea;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
}

div.menu a {
    display: block;
}

div {
    border: 1px solid red;
}

div.conteudo {
    grid-area: conteudoArea;
    border: 3px solid green;
}

div.feed {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 60% 1fr;
}

div.feed img {
    width: 90%;
}