<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="header">
          <h1>Desenvolvimento de Sistemas</h1>
        </div>
        <div id="content">
          <h2>Soluções inovadoras</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis nesciunt aspernatur fugit quasi nisi natus possimus, similique delectus ipsa, quam, ratione reiciendis. Quis assumenda quaerat ab ratione est voluptatum!</p>
          <h2>Produtos customizáveis</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, reprehenderit! A voluptatem doloremque aspernatur iusto, nihil tempore repellendus perferendis consequuntur, suscipit perspiciatis veritatis soluta dicta tempora rerum magni tenetur. Quidem!
          </p>
        </div>
        <div id="footer">
          Site desenvolvido por Elizeu Santos - IFPR.
        </div>
      </div>
</body>
</html>